body{
    background-image: url(public/static/img/fondo1.jpg);
}

.navbar{
    background-color: #212529;
}

#carouselExampleIndicators {
    width: 80%;
    margin: 0 auto;
}

.carousel-inner{
    max-height: 500px;
    object-fit: cover;
}